/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*every element will automatically inherit the body's box-sizing*/ }

html {
  /* font-size: 10px; /*instead of the deafault browser 16px --> now 1rem = 10px*/
  font-size: 62.5%;
  /* equals to 10px if setting are normal but will change according to users needs*/ }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem);
    /*to make it go a bit further than bounce back to position 0*/ }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem);
    /*to make it go a bit further than bounce back to position 0*/ }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Open Sans', sans-serif; }

.heading-primary {
  font-size: 7rem;
  font-weight: 400;
  margin-top: 4rem;
  letter-spacing: 1rem;
  line-height: 7.5rem;
  text-align: left; }
  .heading-primary__were {
    display: block;
    font-weight: 300;
    color: #E2C2B9; }
  .heading-primary__coming {
    display: block; }
  .heading-primary__soon {
    display: block; }

.paragraph {
  font-size: 1.8rem;
  font-weight: 600;
  color: #E2C2B9;
  padding-right: 58rem;
  line-height: 2;
  margin-top: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.flyer {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: repeat-x;
  background-position: left;
  position: relative; }
  .flyer__image {
    position: absolute;
    width: 35.55%;
    top: 0;
    right: 0; }

.details {
  padding: 3rem 15rem; }
  .details__input-box {
    color: #E2C2B9;
    width: 45%;
    padding: 2rem;
    border-radius: 35px;
    margin-top: 7rem;
    border: 1px solid #E2C2B9;
    position: relative; }
    .details__input-box--email {
      border-style: none;
      color: inherit;
      font-family: inherit;
      letter-spacing: 0.05rem;
      margin-left: 2rem; }
      .details__input-box--email:focus, .details__input-box--email:active {
        outline: none; }
      .details__input-box--email::placeholder {
        color: inherit; }
    .details__input-box--img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 14rem;
      opacity: 0;
      visibility: hidden; }
    .details__input-box--btn, .details__input-box--btn:link, .details__input-box--btn:visited {
      padding: 1.6rem 5rem;
      border-radius: 35px;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #F6A9A9;
      font-size: 2rem;
      color: #fff;
      text-decoration: none; }
    .details__input-box--btn:active {
      background-color: #fbd7d7;
      transform: scale(1.1); }
    .details__input-box--heading-error {
      color: red;
      font-weight: 300;
      position: absolute;
      top: 50%;
      opacity: 0;
      visibility: hidden;
      transition: all .2s; }
    .details__input-box--email:focus:invalid ~ .details__input-box--heading-error {
      opacity: 1;
      visibility: visible;
      transform: translateY(4rem); }
    .details__input-box--email:focus:invalid ~ .details__input-box--img {
      opacity: 1;
      visibility: visible; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (12rem)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (18rem)) / 4); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - (12rem)) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - (18rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - (18rem)) / 4) + (2 * 6rem)); }

.section-main {
  height: 100vh;
  padding: 2rem; }
